.navigation{
	font-family: Merienda-Regular;
	font-size: 12px;
	display: flex;
	align-items: center;
	&__logo{
		width: 35px;
		height: 35px;
		margin-right: -40px;
		margin-top: -15px;
	}
	&__list{
		width: 320px;
		display: flex;
		justify-content: space-between;
		list-style: none;
		a{
			text-decoration: none;
		}
		a:hover{
			color: var(--hover-color);
			transition: 0.3s all;
		}
	}
}
