.best {
  background: url("../../../public/img/Mask-Group.jpg") center/cover no-repeat;
	height: 495px;
	display: flex;
	justify-content: center;
	&__title{
		font-size: 24px;
		margin: 80px auto 40px;
	}
}
