.best {
  background: url("../../../public/img/Mask-Group.jpg") center/cover no-repeat;
  height: 495px;
  display: flex;
  justify-content: center;
	align-items: center;
	flex-direction: column;
  &__title {
    font-size: 24px;
    margin: 40px auto;
		margin-top: -15px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
		gap: 71px;
  }
}
