
body {
  margin: 0;
}
@font-face {
  font-family: Merienda-Regular;
  src: url("../public/fonts/Merienda-Regular.ttf");
}
@font-face {
  font-family: Merienda-Bold;
  src: url("../public/fonts/Merienda-Bold.ttf");
}
